@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 10,10,10, 0.95;
  --foreground-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 10,10,10, 0.95;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(201, 176, 133, 0.3); /* accent-400 with opacity */
  color: white;
}

img { image-rendering: auto; -webkit-font-smoothing: antialiased; }

.container { max-width: 72rem; margin: 0 auto; }
